################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tutorial_07/CustomerInfo/CustomerInfo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Tutorial_07/CustomerInfo/.vs/CustomerInfo/v17/DocumentLayout.json
/Tutorial_07/CustomerInfo/.vs/CustomerInfo/v17/.suo
/Tutorial_07/CustomerInfo/.vs/CustomerInfo/FileContentIndex/51853ce4-8f0c-4c0d-b9e5-cf7c527f1765.vsidx
/Tutorial_07/CustomerInfo/.vs/CustomerInfo/FileContentIndex/50fa0d3e-cdb8-49aa-8499-b14f8c98052f.vsidx
/Tutorial_07/CustomerInfo/.vs/CustomerInfo/FileContentIndex/42ec4b50-1a82-455f-8ce4-3ba218ec5a54.vsidx
/Tutorial_07/CustomerInfo/.vs/CustomerInfo/FileContentIndex/27fe68dd-eef9-45db-94e9-d4b8a4cadcc4.vsidx
/Tutorial_07/CustomerInfo/.vs/CustomerInfo/FileContentIndex/0527014c-9e91-4052-aa5d-ca7258a0947c.vsidx
*.vsidx
