USE [master]
GO
/****** Object:  Database [CustomerDb]    Script Date: 9/27/2024 12:59:28 PM ******/
CREATE DATABASE [CustomerDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESSTESTER\MSSQL\DATA\CustomerDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomerDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESSTESTER\MSSQL\DATA\CustomerDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerDb]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9/27/2024 12:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[customer_name] [nvarchar](100) NOT NULL,
	[nrc_number] [nvarchar](100) NOT NULL,
	[dob] [date] NULL,
	[member_card] [smallint] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[gender] [smallint] NOT NULL,
	[phone_no_1] [nvarchar](50) NOT NULL,
	[phone_no_2] [nvarchar](50) NULL,
	[photo] [nvarchar](200) NULL,
	[address] [nvarchar](500) NULL,
	[created_user_id] [int] NOT NULL,
	[created_datetime] [datetime] NOT NULL,
	[updated_user_id] [int] NULL,
	[updated_datetime] [datetime] NULL,
	[is_deleted] [smallint] NOT NULL,
	[deleted_user_id] [int] NULL,
	[deleted_datetime] [datetime] NULL,
 CONSTRAINT [PK__Customer__3213E83F70CB1904] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([id], [customer_id], [customer_name], [nrc_number], [dob], [member_card], [email], [gender], [phone_no_1], [phone_no_2], [photo], [address], [created_user_id], [created_datetime], [updated_user_id], [updated_datetime], [is_deleted], [deleted_user_id], [deleted_datetime]) VALUES (3, N'C-0003', N'gogeroud', N'2/mama(N)333333', CAST(N'1994-02-28' AS Date), 2, N'gg@gmail.com', 1, N'2234234', N'23423423', NULL, N'UAB', 1, CAST(N'2024-09-26T10:02:06.680' AS DateTime), 0, CAST(N'2024-09-27T12:28:45.390' AS DateTime), 0, 1, CAST(N'2024-09-26T14:31:15.937' AS DateTime))
INSERT [dbo].[Customers] ([id], [customer_id], [customer_name], [nrc_number], [dob], [member_card], [email], [gender], [phone_no_1], [phone_no_2], [photo], [address], [created_user_id], [created_datetime], [updated_user_id], [updated_datetime], [is_deleted], [deleted_user_id], [deleted_datetime]) VALUES (4, N'C-0004', N'User', N'11/MaMa(C)334334', CAST(N'1994-02-28' AS Date), 2, N'yes@gmail.com', 1, N'091500528', N'095292028', NULL, N'PanSoeTan', 1, CAST(N'2024-09-26T10:04:04.243' AS DateTime), 0, NULL, 1, 1, CAST(N'2024-09-26T14:31:32.510' AS DateTime))
INSERT [dbo].[Customers] ([id], [customer_id], [customer_name], [nrc_number], [dob], [member_card], [email], [gender], [phone_no_1], [phone_no_2], [photo], [address], [created_user_id], [created_datetime], [updated_user_id], [updated_datetime], [is_deleted], [deleted_user_id], [deleted_datetime]) VALUES (5, N'C-0005', N'Google', N'2/tanaka(n)333333', CAST(N'1994-02-28' AS Date), 2, N'taka@gmail.com', 1, N'234234', N'546546', NULL, N'Bago', 1, CAST(N'2024-09-26T11:25:37.927' AS DateTime), 1, CAST(N'2024-09-27T10:31:02.510' AS DateTime), 0, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_created_datetime]  DEFAULT (getdate()) FOR [created_datetime]
GO
USE [master]
GO
